<!DOCTYPE html>
<html>

<head>
	<title>Main Page</title>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
  <div id="welcomeContainer">
    <div class="pane" id="welcome"><h1 class="noselect">Hot chicks</h1></div>
    
    <div class="container" style="width:40%">
      <div class="pane image" style="width:100%;height:400px;background-image:url('images/chick01.jpg');"></div>
      <div class="overlay"><p>Cute chick in a top hat ^_^</p></div>
    </div>

    <div class="container" style="width:40%">
      <div class="pane image" style="width:100%;height:400px;background-image:url('images/chick02.jpg');"></div>
      <div class="overlay"><p>Wah, so cute!</p></div>
    </div
  </div>
</body>

</html>