.page {
    max-width: 1196px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
}

body {
    margin: 0;
    
    color: #424242;
}

html {
    background: url('../images/bg3.jpg') no-repeat center center fixed;
    background-size: cover;
}

a, p {
	font-family: Helvetica;
	color: #000;
}

.topBanner {
	padding: 20px 100px;
	margin: 10px 20px;

	text-align: center;
	background-color: #fff;
	border-radius: 80px 5px 80px 5px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
}