@import url('http://fonts.googleapis.com/css?family=Poiret+One');

html {
    background-image: url('../img/bg3.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;

    box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
}

body {
    background-color: rgba(0,0,0,0);
    color: #fff;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background_image {
    background-image: url('../img/bg3.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}

.panel {
    background-color: rgba(0,0,0,0.7);
    border-width: 0;
    border-radius: 20px;
    padding: 30px;

    transition: background-color 0.5s ease-out;
}

.panel:hover {
    background-color: rgba(0,0,0,0.8);
}

img {
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);

    transition: border-radius 0.5s ease-out, box-shadow 0.5s ease-out;
}

img:hover {
    border-radius: 40px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
}

img:active {
    box-shadow: none;
}

.panel p {
    color: #fff;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
}

#header h1 {
    color: #fff;
    vertical-align: middle;
}

#header a.button {
    margin: 0;
    box-shadow: 0 0 0 0 #000;
    width: 150px;
    height: 100px;
    border-radius: 0;
}

a.button p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
}

.button {
    box-shadow: 2px 2px 15px 3px #000;
    background-color: rgba(0,0,0,0.2);
}